.linkStyle{
    font-weight: 400;
    font-family: 'Calibri';
    font-style: normal;
    font-size: 24px;
    line-height: 27px;
    text-decoration: none;
    color:black;
    margin-bottom: 12px;
}

.linkStyleActive {
  font-weight: 700;
  font-family: 'Calibri';
  font-style: normal;
  font-size: 24px;
  line-height: 27px;
  text-decoration: none;
  color:black;
}
